{% extends "base.html" %}
{% block content %}
    <div class="container-fluid fill-height">
        <form action="" method="post" class="col col-sm-12 col-md-10 col-lg-8 col-md-offset-1
        col-lg-offset-2 form-group fill-height">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <label class="label label-info" for="{{ field.name }}">{{ field.label }}</label>
                    <p>
                        {{ field }}
                    </p>

                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <input class="button btn btn-success" type="submit" value="Save"/>
        </form>
    </div>
{% endblock %}